<!DOCTYPE html>
<html lang="en">
<%- include ('partials/heads.ejs', {headtittle: 'CART' , cssForm1:'', cssForm2:'styles/detail-products-css/cart.css' }); %>

<body class="grid-container">
  <%- include ('partials/header.ejs') %>
  <div class="banner"></div>
  <main class="main-container">
    <div class="product-cart">
      <article>
        <img src="assets/img/items2/aros.webp" alt="product_iamge">
        <h1 class="cart-name">SILVER BALI EARRINGS </h1>
        <div class="item-number-grid">
          <div class="item-number">
            <div class="minus-mark"> - </div>
            <div class="number">1 </div>
            <div class="plus-mark"> +</div>
          </div>
        </div>

        <div class="item-price">
          <div class="dollar-simbol"> $ </div>
          <div class="price-number"> 60.50 </div>
        </div>
        <div class="xmark"> X </div>
      </article>
    </div>

    <div class="finally-purchase-container">
      <div class="subtotal">
        <h1> Subtotal: </h1>
        <h2> $60.50 </h2>
      </div>

      <div class="shipping">
        <h1> Estimated Shipping: </h1>
        <h2> FREE </h2>
      </div>

      <div class="total">
        <h1> Estimated Total: </h1>
        <h2> $60.50 </h2>
      </div>
    </div>
    <button class="finally-shop-button"> CONTINUE </button>
  </main>
  <%- include ('partials/footer.ejs') %>
  <%- include ('partials/scripts.ejs') %>
</body>

</html>