<!-- HEADER -->
<header class="header">
    <div class="presentation">
        WELCOME TO THE STAR FACTORY &nbsp;<strong>FREE SHIPPING WORLDWIDE</strong>
    </div>
    <div class="contenedor-header">
        <!--carro mod-movil-->
        <div class="cart-responsive">
            <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
        <!-- BARRA DE BUSQUEDA -->
        <div class="seacrh-container">
            <div class="search">
                <input type="text" placeholder="Search" required />
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <div class="logo-header">
            <div class="img-container">
                <img src="assets/img/cooltext415529546518944.png" alt="logo de la joyeria" class="logo" />
            </div>
        </div>
        <div class="session">
            <a href="#"><i class="fa-solid fa-bag-shopping"></i>&nbsp;</a>
            <a href="#"><i class="fa-solid fa-user"></i>&nbsp;</a>
        </div>
        <!-- burguer menu mod-movil -->
        <div class="burguer-menu">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>
</header>

<!-- BAARA DE NAVEGACION -->
<nav class="navbar">
    <div class="navbar2">
        <nav>
            <ul class="nav-elements">
                <li><a href="#" class="link"></a> RINGS</li>
                <li><a href="#" class="link"></a> BRACELETS</li>
                <li><a href="#" class="link"></a> NECKLACE</li>
                <li><a href="#" class="link"></a> EARRING</li>
                <li><a href="#" class="link"></a> ACCESORIES</li>
                <li><a href="#" class="link"></a> CHAINS</li>
            </ul>
        </nav>
    </div>
</nav>